<!DOCTYPE html>
<html>
<head>
    <title>My PDF Documents</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 mb-4">My PDF Documents</h1>
        <div class="row">
            {% for pdf_doc in pdf_documents %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="/view_pdf/{{ pdf_doc._id }}" class="btn btn-primary">View PDF</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Add Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
